.school-logos {
  
  text-align: center;
}
.school-logos .card {
  height: 300px;
} 
@media only screen and (min-width: 600px){
  .school-logos {
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
  }
  .school-logos .card {
    height: 380px;
  } 
}
@media (max-width: 465px){
  .school-logos .card {
    height: 250px;
  }  
}
svg {
  display: block;
}
.school-logos .card-image > img {
    padding: 20px 20px 20px 20px;
    height: 100%;
}

.
