.school-logos {
  
  text-align: center;
}
.school-logos .card {
  height: 300px;
} 
@media only screen and (min-width: 600px){
  .school-logos {
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
  }
  .school-logos .card {
    height: 380px;
  } 
  .brand-logo img {
    margin-left: 20px;
  }
}
@media (max-width: 465px){
  .school-logos .card {
    height: 250px;
  }  
}

svg {
  display: block;
}
.school-logos .card-image > img {
    padding: 20px 20px 20px 20px;
    height: 100%;
}

.brand-logo img {
  height: 64px;
  
}

.tabs.noindicator a {
  color: #fff !important;
}
.tabs.noindicator .indicator {
  display: none;
}

blockquote.brown-border {
  border-left: 5px solid #8d6e63 !important;
}
